<p id="notice"><%= notice %></p>
<div class="row center">
  <div class="col s12">
    <h1>Contact</h1>
  </div>
</div>

<div class="container">
  <%= search_form_for @search do |f| %>
    <div class="container">
      <div class="row">
        <div class="input-field col s10">
          <i class="material-icons prefix">search</i>
          <label for="autocomplete-input">search</label>
            <%= f.search_field :company_cont, class: "searchform", id: 'incremental' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id='contact-table'>
  <%= render 'table'%>
</div>

<br>
<%= link_to 'Create', new_list_path, class: "btn-small" %>

<script>
  $(document).ready(function(){
    $(document).on('keyup', '#incremental', function(e){
      e.preventDefault();
      var input = $.trim($(this).val());
      $.ajax({
        url: '/lists/search',
        type: 'GET',
        data: ('keyword=' + input),
        processData: false,
        contentType: false,
        dataType: 'html'
      })
      .done(function(data){
        $('#contact-table').html(data)
      })
    })
  })
</script>
